body {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-color: #00acdc;
}

.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-inline: 50px;
  background-color: #fff;
}

.logo__link {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  padding: 0;
  margin: 0;
}

.nav__list {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  display: block;
  height: 60px;
  line-height: 60px;
  position: relative;
  margin-right: 20px;
  align-items: center;
  padding: 0;
  color: #000;
}

.nav__item {
  text-align: center;
  padding: 0;
  margin: 0;
}

.is-active::after {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 4px;
  width: 100%;
  content: '';
  border-radius: 8px;
  background-color: var(--blue-color);
}

.is-active {
  color: var(--blue-color);
  position: relative;
}

.nav__link:hover {
  color: var(--blue-color);
  text-decoration: none;
}

.nav__list .nav__item:first-child .nav__link {
  margin-left: 0;
}

.nav__list .nav__item:last-child .nav__link {
  margin-right: 0;
}
